.img-gallery {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  justify-content: center;
  gap: 10px;
}

.img-gallery__image {
  overflow: hidden;
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.image-gallery__title {
  margin-top: 160px;
}

.gallery__back-button {
  font-size: 1.5rem;
  margin: 40px auto 40px auto;
  min-width: 272px;
  max-width: 272px;
  height: 60px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: rgb(231, 111, 1);
  display: block;
}

.modal__overlay {
  width: 100vw;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(128, 128, 128, 0.199);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.modal__image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 80vh;
  max-width: 100%;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .img-gallery {
    max-width: 100%;
  }
}
