.cennik__box {
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cennik__img {
  margin: 100px auto 0 auto;
  width: 100%;
}

.cennik__button {
  font-size: 1.5rem;
  margin: 40px auto;
  min-width: 272px;
  max-width: 272px;
  height: 60px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: rgb(231, 111, 1);
}

@media screen and (max-width: 1250px) {
  .cennik__box {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .cennik__box {
    width: 100%;
  }
}
